<%= render "shared/page_head" %>

<div class="home">

    <div class="header-home">
        <div class="row">
            <div class="col-5 px-5">
                <%= link_to image_tag('ksr-logo.png', alt: "KNOW Systemic Racism"), :root %>
            </div>
            <div class="col-1"></div>
            <div class="col-6 px-3 pt-3 text-end" style="font-style: italic;">
                Documenting Discrimination &bull; Identifiying Interconnections &bull; Highlighting Helpers
            </div>
        </div>
    </div>

    <%= render "shared/navbar" %>

    <div class="container">
        <div class="row pb-3">
            <div class="pt-2 col-3 viz-bar rounded-left">
                <h4>The latest in the fight against systemic racism</h4>
                <p>Learn about systemic racism by <%= link_to "exploring connections", :connections%> between archival records and fatal encounters with police in the Greater Bay Area.</p>
            </div>
            <div class="col-6 text-center viz-bar rounded-right">
                <%= link_to image_tag('linkurious1.png', class: "img-fluid pt-2", alt: "connections"), :connections %>
            </div>
            <div class="col-3 text-center">
                <div class="text-center">
                    <%= link_to image_tag('button_timeline.png', class: "img-fluid pt-4", alt: "timeline"), :timeline %>
                </div>
                <div class="text-center">
                    <%= link_to image_tag('button_resources.png', class: "img-fluid pt-4", alt: "search resources"), :data %>
                </div>
                <div class="text-center">
                    <%= link_to image_tag('button_connect.png', class: "img-fluid pt-4", alt: "get involved"), :involved %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="quote-bar p-1">
    <div class="container">
        <div class="row gorman-quote">
            <p>For there is always light if only we're brave enough to see it, if only we're brave enough to be it.</p>
            <p>- Amanda Gorman</p>
        </div>
    </div>
</div>

<div class="features-bar">
    <div class="container features">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <%= link_to image_tag('housing_homepage.png', class: "img-fluid", alt: "Housing video"), "https://www.segregatedbydesign.com/"%>
                    </div>
                    <div class="col">
                        <h2><%=link_to 'Housing', :housing %></h2>
                        <p>If you have just a few minutes, this video clearly illustrates how the history of systemic racism in housing has led us to where we are today.  To dive deeper, head over to the <%= link_to 'Housing page', :housing%> >></p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <%= link_to image_tag('policing_homepage.png', class: "img-fluid", alt: "Policing video", height: "100"), "https://news.stanford.edu/2016/06/15/stanford-big-data-study-finds-racial-disparities-oakland-calif-police-behavior-offers-solutions/"%>
                    </div>
                    <div class="col">
                        <h2><%=link_to 'Policing', :policing %></h2>
                        To get started in your journey to learn about systemic racism in policing, this video provides a concrete example in the Bay Area.  Then investigate more on the <%=link_to 'Policing page', :policing %> >></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stories-bar">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                Stories go here
            </div>
        </div>
    </div>
</div>

<div class="explain-bar">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                <h2>What is "systemic racism"?</h2>
                <div class="row">
                    <div class="col-6">
                        <p>System racism stems from institutional policies, procedures, practices, regulations or processes that normalize (physical, economic, social) harm and result in outcomes that disadvantage racialized groups and people who have had a stigmatized racial identity imposed on them. Systemic racism creates disparities in many "success indicators" such as wealth, policing, the criminal justice system, banking, employment, housing, health care, media, military, politics, science, voting rights, education and the environment.</p>
                        <p><%= link_to "Watch a video", "https://abc7news.com/systemic-racism-definition-structural-institutionalized-what-is/6292530/"%> on the importance of words in the fight for racial equality.</p>
                    </div>
                    <div class="col-3">
                        <p>However, systemic racism can and will be defined differently by different people. We do not intend to force our definition onto you, but are providing a foundation from which to build on. The content is provided for you to come to your own conclusions.</p>
                    </div>
                    <div class="col-3">
                        <h4>"Not everything that is faced can be changed, but nothing can be changed until it is faced."<br /> - James Baldwin</h4>
                    </div>
                </div>

                <h2>How do we prove systemic racism exists?</h2>
                <div class="row">
                    <div class="col-6">
                        <p>Throughout America’s democratic history, there have been "promises made" – perhaps the most well-known are "life, liberty and the pursuit of happiness." These promises are just three examples of the unalienable rights which the Declaration of Independence says have been given to all humans by their creator, cannot be taken away or denied, and which governments are created to protect.</p>
                        <p>Nevertheless, these promises have been largely reserved for white people through the intentional exclusion and oppression of Black people and other racialized groups. The deep racial and ethnic inequities that exist today are a direct result of systemic racism: the historical and contemporary policies, practices, and norms that create and maintain white supremacy. People often use systemic racism, structural discrimination or institutional bias interchangeably.</p>
                    </div>
                    <div class="col-6">
                        <p>The KNOW Systemic Racism project (KSR) will examine how systemic racism continues to disproportionately segregate Black people from access to services designed for upward mobility by making it more difficult for people of color to secure quality housing which limits access to education, which directly impacts employment opportunities, and is interconnected to nutrition, environment, healthcare, and equal treatment throughout the criminal justice system.</p>
                        <p>The KSR will focus attention on evidence-based studies and reporting relating to the role of racism and race-based discrimination, in our public and private institutions. The KSR will offer suggestions on agencies that can help address these inequities. Our scholars and users will play a pivotal role in collecting data to educate the public about the existence of systemic racism in America, throughout history and the present day.</p>
                    </div>
                </div>
                <h2>How can data help put an end to systemic racism?</h2>
                <p>The KSR will collect data documenting instances of institutional discrimination of Black people in America. The KSR will focus attention on evidence-based studies and reporting relating to the role of racism and race-based discrimination, in our public and private institutions. Armed with data, people can petition regulatory governing agencies to reform policies with documented discrimination and biases built into interconnected systems such as housing, policing, legal, banking, educational, medical, employment, environmental, nutritional and voting.  Wielded correctly, data can be a powerful tool for racial justice and social equity. The KSR will offer suggestions on agencies and organizations that can help address these inequities. Our scholars and users will play a pivotal role in collecting data to educate the public about the existence of systemic racism in America, throughout history and the present day.</p>
                <%= image_tag 'home_srtdiagram.png', class: "img-fluid", alt: "KSR Diagram" %>
            </div>
        </div>
    </div>
</div>

<div class="events-bar">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                Events goes here
            </div>
        </div>
    </div>
</div>

<div class="edu-bar">
    <div class="container py-3">
        <div class="row">
            <div class="col">
                Education outreach info goes here
            </div>
        </div>
    </div>
</div>

<div class="about-bar">
    <div class="container py-3">
        <div class="row">
            <div class="col-6">
                <h1>About KNOW Systemic Racism</h1>
                <p>To begin we will document systemic racism in housing and policing. The KSR will highlight the interconnected systems that perpetuate those injustices and inequities. The KSR will focus on California in general and the Bay Area in particular. The initial time period of interest will be the early 20th century to the present.</p>
                <p>The KSR will help users find data and other resources regarding how public and private institutions have shaped the housing and neighborhood conditions of African Americans. We selected the housing topic because there is a consensus across the political spectrum that housing discrimination against African Americans has existed (although some would argue that it faded after the federal Fair Housing Act of 1968). Neighborhoods are embedded in institutional policies and practices that influence environmental benefits (whether there are good schools, jobs, and fresh produce nearby) and detriments (whether the home is located near toxic waste that increases resident’s cancer risk or in a floodplain that makes resident’s more vulnerable to the impacts of climate change).</p>
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <p>The KSR will also help users discover resources about how policing and the criminal justice system shape the ability or inability of African Americans to safeguard their lives and their Constitutional rights, including the right to be “secure in their persons [and] houses,” as articulated by the Fourth Amendment. We chose policing and the courts for the second topic because of the growing interest in and beyond Stanford on how African Americans are seen and treated in the criminal justice system. This concern is at the heart of the Black Lives Matter movement.</p>
                <p>The KSR will document laws and regulations as well as social movements and the parallel acts of resistance and denial of equal access and equal rights through civil and criminal behaviors, atrocities, and everyday misdeeds (e.g. racial profiling). The purpose of exposing these historical and present-day linkages is to lay the groundwork for further study and teaching as well as research into these attainments and practices as ways to educate the young, students in higher education, researchers, and public policy makers.</p>
            </div>
        </div>
    </div>
</div>

<%= render "shared/footer" %>

</body>

</html>
