<div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Connect with the Community</h1>
            <p>When we first started, we thought this was just going to be a database with a website interface. After the first 5 interviews we did, we realized we also needed to bring people together. Professors want to know what data community organizers need to further their work, and community organizers want to know what research professors are working on. Moreover, each individual or group we spoke to had valuable data that was not preserved. </p>
            <p>This is our opportunity to bring people and data together to amplify our efforts in ending systemic racism.</p>
            <p>To learn more, <%=link_to 'contact us here', :contact%></p>
        </div>
        <div class="col-3">
           <%=image_tag "collab_workshops.png", alt: "Workshops", class: "img-fluid py-3"%>
        </div>
        <div class="col-3">
            <%=image_tag "collab_lawclinic.png", alt: "Law Clinic", class: "img-fluid py-3"%>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Demand Action from Your Representatives</h1>
            <p><ul>
            <li>Find your representatives and demand action to end police violence: <%=link_to "https://mappingpoliceviolence.org/", "https://mappingpoliceviolence.org/"%></li>
            <li>Visit this site and scroll down to the map to learn about existing laws regarding "no knock raids": <%=link_to "https://endallnoknocks.org/", "https://endallnoknocks.org/"%></li>
            </ul></p>
            <p class="quote">"When historians pick up their pens to write the story of the 21st century, let them say that it was your generation who laid down the heavy burdens of hate at last and that peace finally triumphed over violence, aggression and war. So I say to you, walk with the wind, brothers and sisters, and let the spirit of peace and the power of everlasting love be your guide." - John Lewis</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h1>Information About Filing a Housing Complaint</h1>
            <p>If you believe your rights may have been violated, we encourage you to submit a complaint. Because there are time limits on when a complaint can be filed with HUD after an alleged violation, you should submit a complaint as soon as possible.
            <%=link_to "https://www.hud.gov/program_offices/fair_housing_equal_opp/online-complaint", "https://www.hud.gov/program_offices/fair_housing_equal_opp/online-complaint"%></p>
        </div>
        <div class="col-6">
            <h1>Citizen Complaints Against Law Enforcement</h1>
            <p>This California Department of Justice policy establishes guidelines governing the manner in which the Department of Justice will respond to complaints by members of the public against a law enforcement agency or its employees: <%=link_to "https://oag.ca.gov/sites/all/files/agweb/pdfs/civilrights/citizencomplaintpolicy.pdf", "https://oag.ca.gov/sites/all/files/agweb/pdfs/civilrights/citizencomplaintpolicy.pdf"%>.  If you have a specific incident or officer that you want more information on, you can file your own Public Records Act request with the ACLU of Southern California: <%=link_to "https://www.aclusocal.org/en/know-your-rights/access-ca-police-records", "https://www.aclusocal.org/en/know-your-rights/access-ca-police-records"%></p>
        </div>
    </div>
</div>
